<ion-header>

  <ion-navbar>
    <ion-title>Mes Comptes</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="InitValues(true)">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list *ngIf="currentItems!=null">
    <ion-card *ngFor="let item of currentItems">
      <ion-card-header color="light">
          Compte dans la banque {{item.b.nom}}

      </ion-card-header>
      <ion-card-content>
        <ion-card-title>
          <ion-badge>
            {{item.b.appreciation}}
          </ion-badge>
          <br><br>
          <ion-list>
            <ion-chip>
              <ion-icon name="card"></ion-icon>
              Numéro de compte: {{item.numeroCompte}}
            </ion-chip>
            <ion-chip>
              <ion-icon name="cash"></ion-icon>
              Ma Solde: {{item.solde}}{{item.devise}}
            </ion-chip>
            <br><br>
            <button ion-button round (click)="Encaisser(item)"><ion-icon name="logo-usd"></ion-icon></button>
            <button ion-button round (click)="Decaisser(item)"><ion-icon name="swap"></ion-icon></button>
            <button ion-button round (click)="openItem(item.b)"><ion-icon name="pie"></ion-icon></button>
          </ion-list>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
