<!--
  Generated template for the DecaissementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Envoi</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label floating>Numero de Compte du destinataire</ion-label>
        <ion-input type="text" [(ngModel)]="numero" name="montant"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Montant</ion-label>
        <ion-input type="number" [(ngModel)]="montant" name="devise"></ion-input>
      </ion-item>
      <button ion-button class="btn" round color="primary">Attente</button>
      <button ion-button (click)="envoi()" class="btn" round color="danger">envoyer</button>
    </ion-list>
  </ion-card>
</ion-content>
