<!--
  Generated template for the BankPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="data!=null">Banque: {{data.nom}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-fab right top>
    <button (click)="closeModal()" ion-fab color="primary"><ion-icon name="close-circle"></ion-icon></button>
  </ion-fab>
  <ion-card>
    <ion-card-header class="Header" color="light">
      Configurations
    </ion-card-header>
    <ion-card-content>
      <canvas  #barCanvas id="Canvas" ></canvas>
      <ion-chip *ngIf="data!=null"  color="primary">
        <ion-icon name="heart" color="dark"></ion-icon>
        <ion-label color="light">{{data.appreciation}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="data!=null" color="primary">
        <ion-icon name="logo-euro" color="dark"></ion-icon>
        <ion-label color="light">{{data.devise}}</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-header color="light">
      Informations
    </ion-card-header>
    <ion-card-content>
      <ion-scroll scrollX="true">
      <ion-chip>
          <ion-icon name="help" color="danger"></ion-icon>
          <ion-label >Taux fixe sur chaque transfert</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-icon name="help" color="primary" ></ion-icon>
          <ion-label color="dark">Taux sur chaque transfert entre même banques</ion-label>
        </ion-chip>
       <ion-chip>
         <ion-icon name="help" color="yellow"></ion-icon>
         <ion-label color="dark">Taux fixe sur chaque transfert entre différentes banques</ion-label>
       </ion-chip>
      </ion-scroll>
    </ion-card-content>

  </ion-card>
</ion-content>
