page-bank {

  ion-card-header {
    font-weight: bold;
    background-color:#488aff;
    margin-bottom:10%;
    color:white;
  }
  ion-card-content{
    width:100%;
  }
  ion-scroll {
    height: 150px;
    width:100%;
  }
}
