<ion-content scroll="false">
  <div class="splash-bg"></div>
  <div class="splash-info">
    <div class="splash-logo"></div>
    <div class="splash-intro">
      Bienvenue à Banker
    </div>
  </div>
  <div padding>
    <button ion-button block (click)="signup()">S'inscrire</button>
    <button ion-button block  (click)="login()" class="login">Se connecter</button>
  </div>
</ion-content>
