<!--
  Generated template for the EncaissementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Encaissement sur le compte en banque</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-label floating>Devise</ion-label>
        <ion-input type="text" [(ngModel)]="devise" name="montant"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Montant</ion-label>
        <ion-input type="number" [(ngModel)]="montant" name="devise"></ion-input>
      </ion-item>
      <button ion-button class="btn" round color="primary">Attente</button>
      <button ion-button (click)="Encaissement()" class="btn" round color="danger">Encaisser</button>
    </ion-list>
  </ion-card>
</ion-content>
