<ion-header>

  <ion-navbar>
    <ion-title>Se Connecter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doLogin()">
    <ion-list>

      <ion-item>
        <ion-label fixed>Nom de Compte</ion-label>
        <ion-input type="text" [(ngModel)]="account.email" name="email"></ion-input>
      </ion-item>

      <!--
      Want to use a Username instead of an Email? Here you go:

      <ion-item>
        <ion-label floating>{{ 'USERNAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block><ion-icon name="contact">&nbsp;</ion-icon> Login</button>
      </div>

    </ion-list>
  </form>
</ion-content>
