page-list-master {
  [cards] {
    .grid-full ion-col {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 5px 0;
    }
    .row {
      padding: 0;
    }
    .col {

    }
    .header{
      background-color:#488aff;
    }
    .titre{
        padding-left:10%;color:white;
    }
    .contenu{
      margin:10%;
    }
    .badge{
      float:right;
      padding:1%;
      margin:1%;
    }
  }
  ion-loading.Loadings{
    .loading-wrapper {
      background: transparent;
      box-shadow: none;
    }
    .spinner-crescent circle {
      stroke-width: 8px;
    }
  }
}
