<ion-header>

  <ion-navbar>
    <ion-title>Nos Banques</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="InitValues(true)">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div cards *ngIf="currentItems!=null">
    <div class="grid-full">
      <ion-row *ngFor="let cr of currentItems">
        <ion-col>
          <ion-card (click)="openItem(cr)">
            <ion-card-header class="header">
              <p class="titre"><ion-icon name="logo-bitcoin">&nbsp;</ion-icon>{{cr.nom}}</p>
            </ion-card-header>
            <ion-card-content>
                <h1 class="contenu">Devise: {{cr.devise}}</h1>
              <ion-badge color="success">{{cr.appreciation}}</ion-badge>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </div>

  </div>
</ion-content>
<ion-footer>

</ion-footer>
