<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (submit)="doSignup()">
    <ion-list>

      <ion-item>
        <ion-label fixed class="LabelClass SignLabel">{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="account.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label class="PhoneNumber SignLabel">Phone Number</ion-label>
        <ion-input type="number" [(ngModel)]="account.phoneNumber" name="phoneNumber"></ion-input>
      </ion-item>

      <!--
      Want to add a Username? Here you go:

      <ion-item>
        <ion-label floating>Username</ion-label>
        <ion-input type="text" [(ngModel)]="account.username" name="username"></ion-input>
      </ion-item>
      -->

      <ion-item>
        <ion-label  fixed class="LabelClass SignLabel">{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
      </ion-item>

      <div padding>
        <ion-label *ngIf="signupErrorString!=null" >{{signupErrorString}}</ion-label>
        <button ion-button color="primary" style="margin-top:5%;" block>{{ 'SIGNUP_BUTTON' | translate }}</button>

      </div>
    </ion-list>
  </form>
</ion-content>
