page-signup {
    .LabelClass{
      width:10%;
      margin-right:10%;
    }
    .PhoneNumber{
      margin-right:9.5%;
    }
    .SignLabel{
      margin-top:2.5%;
      margin-bottom:2.5%;
    }
}
